agm-map, .spotify-frame {
    height: 17.5rem; // max height of spotify frame
}

.gig-title {
    font-size: 1.4rem;
}

.gig-description {
    font-size: 0.8rem;
    color: grey;
}

.map-disclaimer {
    font-size: 0.7rem;
    color: grey;
    padding-bottom: 2rem;
}

.gig-city {
    font-size: 0.8rem;
    color: grey;
}

.no-spotify {
    color: grey;
    padding: 0 10%;
    text-align: center;
    margin: auto;
}