.footer {
    width: 100%;
    background-color: #094074 !important;
    color: white;
    margin-top: 2rem;
    padding: 4rem;
}

.modal-paragraph {
    padding-top: 1rem;
    padding-bottom: 1rem;
}